<%
  const datum = locals.datum;
  let rec;
  if (datum && locals.propertyName) rec = locals.datum[locals.propertyName];
  const outerClassName = 'datum datum-partnership datum-editable';
%>
<% if (rec && Array.isArray(rec.list)) { %>
  <div class="datum datum-value">
    <div class="heading-datum"><%= datum.partners.label %></div>
    <div class="content-datum">
      <ul class="partnership-partners">
        <% rec.list.forEach((item) => { %>
          <li><%= item %></li>
        <% }); %>
      </ul>
    </div>
  </div>
<% } %>
