<!DOCTYPE html>
<html lang="<%= locals.lang %>" class="h-100">
  <% include ./partials/head %>
  <body class="mod-palm d-flex flex-column h-100<% if (locals.cmsIsEnabled) { %> cms-enabled<% } %>">
    <% include ./partials/header %>
    <main class="flex-shrink-0">
      <div class="container">
        <% if (locals.regionId) { %>
          <div class="site-subheader" id="subheader-regional" data-regionid="<%= locals.regionId %>">
            <% include ./partials/regional-subheader %>
          </div>
        <% } %>
        <div class="content">
          <%- locals.renderView() %>
        </div> <!-- content -->
      </div> <!-- container -->
    </main>
    <% include ./partials/footer %>
    <% include ./partials/foot %>
  </body>
</html>