.button {
  color: #666;
  background-color: #ddd;
  border-radius: .25rem;
  border-width: .1rem;
  border-style: solid;
  border-color: transparent;
  text-align: center;
  vertical-align: middle;
  margin-left: .1rem;
  margin-right: .1rem;
  display: inline-block;
  /* padding: .325rem .375rem; */
  width: 30px;
  height: 30px;
}

.button span {
  color: #333;
  font-size: 12px;
}

.button:hover {
  cursor: pointer;
  border-color: #999;
}

.fa-times-circle {
  color: red;
}

.fa-plus {
  color: green;
}

.fa-google {
  color: #666;
  padding: 0.4rem;
}