.button {
  color: #666;
  background-color: #ddd;
  border-radius: .25rem;
  border-width: .1rem;
  border-style: solid;
  border-color: transparent;
  text-align: center;
  vertical-align: middle;
  margin-left: .1rem;
  margin-right: .1rem;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.button span {
  color: #333;
  font-size: 12px;
}

.button:hover {
  cursor: pointer;
  border-color: #999;
}

.fa-times-circle {
  color: red;
}

.fa-plus {
  color: green;
}

.fa-google, .fa-arrows-alt-h {
  color: #666;
  padding: .4rem;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Override default Bootstrap */
.dropdown-link {
  display: inline-block;
}

.dropdown-link .nav-link {
  color:#fff;
  padding: .2rem .6rem;
}